/* Nav.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10px;
  background-color: #022239;
  color: white;
}

#logo {
  width: 120px;
  cursor: pointer;
}

.nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  padding: 10px;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  transition: color 0.2s, transform 0.3s;
}

.nav-items button:hover {
  color: #ffd700; /* Hover color */
  transform: scale(1.1); /* Scale up on hover */
}

.nav-items img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.language-dropdown {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.language-dropdown select {
  margin-left: 5px;
  border: none;
  background-color: transparent;
  color: white;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-items {
    flex-direction: column;
  }

  .nav-items button {
    margin: 5px;
    padding: 5px;
  }

  .language-dropdown {
    margin: 10px 0;
  }
}
