/* Root.css */
.root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .root-container {
      padding-top: 50px;
    }
  }
  